.formulaire {
  position: relative;
  width: 100%;
  background: rgb(121, 84, 38);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0;
  box-sizing: border-box;
}

.formulaire header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.form :where(.input-box input, .select-box) {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  padding: 0 15px;
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button {
  height: 55px;
  width: 90%;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(73, 42, 10);
}

.form button:hover {
  background: rgb(62, 42, 11);
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form .column {
  flex: 1;
}

.form :where(.gender-option, .gender) {
  margin-bottom: 15px;
}
